/*.gradient-custom {*/
/*    !* fallback for old browsers *!*/
/*    background: #6a11cb;*/

/*    !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));*/

/*    !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))*/
/*}*/
body {
    background-image: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    height: 100vh;

}

.text-title {
    font-family: 'Anton', sans-serif;
    color: lightblue;
    font-size: 8vh;
}
#login .container #login-row #login-column .login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-image: linear-gradient(to bottom, #aec1c3, #a9b5b7, #bcc5c6, #cfd5d5, #e3e5e5);
}
#login .container #login-row #login-column .login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column .login-box #login-form #register-link {
    margin-top: -85px;
}